@model MyApplication.Job

@{
    ViewBag.Title = "ShowDetailCategoryJob";
}

<script>
   

    function ConfirmProject(JobId,EmId, FreeId) {

        
        var answer = confirm("Do you want to request this freelancer?")
       
        if (answer) {
            $('#conBt').prop('disabled', true);
            // input data in { uid: uid, EmployerId: EmployerId, jobId: jobId };
            var postData = { JobId:JobId,EmId: EmId, FreeId: FreeId };
            $.ajax({
                url: '@Url.Action("CreateProject", "Project")',
                type: 'POST',
                dataType: 'json',
                // we set cache: false because GET requests are often cached by browsers
                // IE is particularly aggressive in that respect
                cache: false,
                data: postData

            })
            window.location.href = '@Url.Action("ShowProjects", "Project")'
        } else {
            alert("Thank you");
        }


    }

    </script>





<head>
    <title>ShowjobPage</title>


</head>
<body>
    <div class="panel panel-success" style="margin-top:30px;">
        @if (ViewBag.AvailableJob == "Not Now")
        {
            @:Job is not Available.<br />
    }
        <div class="panel-heading">
            ShowDetailCategoryJob
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Post Date</dt>
                <dd>@Html.DisplayFor(model => model.Date)</dd>

                <dt style=" height: 40px;"><br />@Html.LabelFor(model => model.Category)</dt>
                <dd><br />@Html.DisplayFor(model => model.Category)<br></dd>


                <dt style=" height: 40px;"><br />@Html.LabelFor(model => model.Title)</dt>
                <dd><br />@Html.DisplayFor(model => model.Title)</dd>

                <dt style=" height: 40px;"><br />@Html.LabelFor(model => model.Description)</dt>
                <dd><br />@Html.DisplayFor(model => model.Description)</dd>

                <dt style=" height: 40px;"><br />@Html.LabelFor(model => model.InitialBudget)</dt>
                <dd><br />@Html.DisplayFor(model => model.InitialBudget)</dd>

                <dt style=" height: 40px;"><br />@Html.LabelFor(model => model.finalBudget)</dt>
                <dd><br />@Html.DisplayFor(model => model.finalBudget)</dd>

                <dt style=" height: 40px;"><br />Skill required</dt>
                <dd>
                    <br /><table class="table-bordered">

                        <tr>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.Java)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.Java)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.Java)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.Javascript)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.Javascript)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.Javascript)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.C)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.C)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.C)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.Csharp)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.Csharp)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.Csharp)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.Cplus)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.Cplus)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.Cplus)
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.PHP)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.PHP)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.PHP)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.Objective_C)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.Objective_C)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.Objective_C)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.Python)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.Python)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.Python)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.ASP_NET)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.ASP_NET)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.ASP_NET)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.Ruby) &nbsp;
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.Ruby)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.Ruby)
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.SQL) &nbsp;
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.SQL)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.SQL)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.Html) &nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.Html)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.Html)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.Css) &nbsp;&nbsp;
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.Css)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.Css)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.Android) &nbsp;&nbsp;
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.Android)&nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.ValidationMessageFor(model => model.Android)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayNameFor(model => model.XML)  &nbsp;
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(model => model.XML)&nbsp; &nbsp; &nbsp; &nbsp;

                            </td>
                        </tr>
                    </table>
                </dd>

                <dt style=" height: 40px;"><br />Other skill</dt>
                <dd><br />@Html.DisplayFor(model => model.Other)</dd>
            </dl>
        </div>

        <div>
            @Html.ActionLink("Back to Home", "Index", "Home")
        </div>

    </div>
  @*@Session["EmId"]
   @Session["FreeId"]*@
    @if(!@ViewBag.CheckConfirm) { 
    <button id="conBt" class="btn btn-primary btn-warning" type="submit" onclick="ConfirmProject(@Session["JobId"],@Session["EmId"], @Session["FreeId"])">Confirm project</button>
    }
   
         </body>
   