<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bidding</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

@model MyApplication.DisplayBid

@{
    Layout = null;
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @using (Html.BeginForm("Bidding", "Bid", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class='login'>
            <br />
            <br />
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Detail, new { @class = "form-control", placeholder = "Detail" })
                @Html.ValidationMessageFor(model => model.Detail)
            </div>
            <br />
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Budget, new { @class = "form-control", placeholder = "Budget" })
                @Html.ValidationMessageFor(model => model.Budget)
            </div>
            <br />
            <br />

            <p>
                <input type="submit" value="Create" class="btn btn-success" /> 
            </p>
        </div>
    }

 