@model IEnumerable<MyApplication.Notification>

@{
    ViewBag.Title = "EmNotifications";
}

<h2>EmNotifications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.JobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployerId)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FreelancerMsg)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
      
        <th>
          
            @Html.DisplayNameFor(model => model.Read)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.JobId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployerId)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.FreelancerMsg)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
       
        <td>
          
            @Html.DisplayFor(modelItem => item.Read)
        </td>
       
        <td>
            @Html.ActionLink("Enter", "GotoShowProjects") |
        
        </td>
    </tr>
}

</table>

